h2 {
    color: #C25100;
    font-family: 'Lobster';
}

.post-form textarea,
.post-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.save {
    background-color: #C25100;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.save:hover {
    background-color: #963a00;
}
